.btn-product {
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
	border: 1px solid #E2E2E2;
	background-color: white;
	color: #646464;
    border-radius:30px;
    font-size: 13px;
    font-weight: bold;
    width: 100%;
    padding:7px 10px 7px 10px;

}

.add-cart{
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
	border: 1px solid #E2E2E2;
	border-radius: 10px;
	width: 50% center;
}
.checked {
  color: orange;
}


.footer-copyright {
    background: #222;
    padding: 5px 0;
}

.footer-copyright p {
    color: #969696;
 }
 .view {
  background: #ffffff;
  background-size: cover;
}
html,
body,
header,
.view {
height: 130px;
}

.input-group.md-form.form-sm.form-1 input{
border: 1px solid #bdbdbd;
border-top-right-radius: 0.25rem;
border-bottom-right-radius: 0.25rem;
}
.input-group.md-form.form-sm.form-2 input {
border: 1px solid #bdbdbd;
border-top-left-radius: 0.25rem;
border-bottom-left-radius: 0.25rem;
}
.input-group.md-form.form-sm.form-2 input.red-border {
border: 1px solid #ef9a9a;
}
.input-group.md-form.form-sm.form-2 input.lime-border {
border: 1px solid #cddc39;
}
.input-group.md-form.form-sm.form-2 input.amber-border {
border: 1px solid #ffca28;
}

.btn-sl{
border-radius:50px;
}

.center-item { 
          position: absolute; 
          left: 50%; 
          transform: translatex(-50%); 
      } 

.second-navbar {
margin-top: 85px;
}

.second-navbar-top-nav-collapse {
margin-top: 45px;
}