<form class='form-product-ajax' method='POST' action='{% url "cart:update" %}' data-endpoint='{% url "cart:update" %}' class="form" {% if request.user.is_authenticated %}data-user='user.id'{% endif %}> {% csrf_token %}
    <input type='hidden' name='product_id' value='{{ product.id }}' {% if  product.is_digital %}data-is-digital='true'{% endif%}/>
      <span class='submit-span'>
    {% if product in cart.products.all %}
        <div class='btn-group'> <a class='btn btn-link' href='/cart/'>In cart</a> <button type='submit' class='btn btn-link'>Remove?</button></div>
    {% else %}
    <button type="submit " class="btn-product btn btn-warning ">Add to cart</button>
    {% endif %}
    </span>
</form>
   <!--<form  method="POST" action="/add_cart" >
             {% csrf_token %}
            
               <input type="hidden" id="id" name="id" value="{{user.id}}">
              <input type="hidden" id="products_id" name="products_id" value="{{object.id}}">
                <input class="form-control mr-sm-2" name="quantity" type="number" value="1" min="1" max="{{object.quantity}}">
          <button type="submit " class="btn-product btn btn-warning ">
                        add to cart
                 
          </button>

    
        </form> --->