{% load static %}
<footer class="page-footer font-small black fixed-bottom">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-2  ">© All Right Reserved By Kelompok Satu
    </div>
    <!-- Copyright -->
</footer>
<!-- End your project here-->

<!-- jQuery -->
<script type="text/javascript" src="{% static 'js/jquery.min.js' %"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="{% static 'js/mdb.min.js' %}"></script>

<script type="text/javascript"></script>

<script src="js/addons/rating.js"></script>
<script type="text/javascript" src="{% static 'js/productpage.js' %}"></script>
</body>

</html>