{% extends "base.html" %}
{% load static %}

{% block content %}
    <!--Main Navigation-->
    <br>
    <div class="container my-4 pt-3">
        <div class="row pt-3">
            <!-- <div class="col"></div> -->
            {% for prodAccessories in CAccessories %}
            <div class="col pr-3 z-depth-1">
                <a href="{{prodAccessories}}">
                    <img src="{% static prodAccessories.image.url %}" width="150">
                    <hr>
                    <p><a href='{{prodAccessories.id}}'>{{prodAccessories.name}}</a>
                        <br><span class="text-warning font-weight-bold">Rp.{{prodAccessories.price_per_unit}}</span>
                    </p>
                </a>
            </div>
            {% endfor %}
        </div>
        <div class="row pt-5 pb-5">
            {% for prodAccessories2 in CAccessories2 %}
            <div class="col pr-3 z-depth-1">
                <a href="productDetail/{{prodAccessories2.id}}">
                    <img src="{% static prodAccessories2.image.url %}" width="150">
                    <hr>
                    <p><a href='productDetail/{{prodAccessories.id}}'>{{prodAccessories2.name}}</a>
                        <br><span class="text-warning font-weight-bold">Rp.{{prodAccessories2.price_per_unit}}</span>
                    </p>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}